<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- ConsoleAppender: 로그를 콘솔에 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- FileAppender: 로그를 파일에 저장 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/log.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger: 기본 로그 레벨과 Appender 설정 -->
    <root level="debug">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
